@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

.color-circle{
  width: 24px;
  height: 24px;
  border-radius: 20px;
  margin-right: 5px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  margin-left: 8px;
}

html, body, #root{
  width: 100%;
  height: 100%;
}